<app-header titulo="grid"></app-header>

<ion-content>

  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" size-sm="6" size-md="4" size-lg="3" *ngFor="let item of [1,1,1,1,1,1,1,1,1,1,1,1]">

        <ion-card>
          <ion-img src="/assets/raul.png"></ion-img>
        </ion-card>

        <ion-card-header>
          <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
          <ion-card-title>Awesome Title</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates quisquam, atque fugit eligendi non
          consequuntur nihil, quis impedit laborum alias eaque iste temporibus. Cumque, placeat recusandae id quam
          perspiciatis corrupti?
        </ion-card-content>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
